.footer {
  background-color: #eef2f9;
  &-container {
    margin-top: 20px;
    padding: {
      top: 42px;
      left: 11px;
      right: 11px;
      bottom: 70px;
    }
    @include for-tablet {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 40px;
      margin-top: 50px;
    }
    @include for-desktop{
      justify-content: space-between;
    }
  }
  &__logo {
    &-container {
      display: flex;
      align-items: center;
      justify-content: start;
      column-gap: 11px;
      margin-left: 17.7%;
      @include for-tablet {
        column-gap: 14px;
        margin-left: 0px;
      }
      @include for-desktop {
        justify-content: start;
      }
    }
    &-img {
      width: 74px;
      height: 74px;
      @include for-tablet {
        width: 95px;
        height: 95px;
      }
    }
    &-title {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 23px;
      line-height: 121%;
      color: var(--blue);
      @include for-tablet {
        font-size: 32px;
      }
    }
    &-text {
      font-weight: 700;
      font-size: 18px;
      line-height: 161%;
      color: var(--blue);
      width: 287px;
      text-align: center;
      margin: {
        top: 12px;
        left: auto;
        right: auto;
      }
      @include for-tablet {
        text-align: left;
        margin: {
          left: 0px;
          right: 0px;
        }
      }
    }
  }
  &__information {
    width: 175px;
    margin: {
      top: 37px;
      left: 17.7%;
      right: auto;
    }
    @include for-tablet {
      width: 197px;
      margin: {
        top: 47px;
        left: 0px;
        right: 0px;
      }
    }
    @include for-desktop {
      margin: 0px;
    }
    &-paragraph {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 234%;
      color: var(--textColor);
      @include for-tablet {
        font-size: 18px;
      }
      &-link {
        color: var(--textColor);
      }
    }
  }
  &__safe {
    &-title {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 327%;
      color: var(--textColor);
      margin: {
        top: 20px;
        left: 17.7%;
      }
      @include for-tablet {
        font-size: 18px;
        margin: {
          top: 0px;
          left: 0px;
        }
        text-align: center;
      }
      @include for-desktop {
        margin: 0px;
      }
    }
    &-img {
      display: block;
      max-width: 287px;
      width: 100%;
      margin: {
        left: auto;
        right: auto;
      }
      @include for-mobile {
        max-width: 387px;
      }
      @include for-desktop {
        max-width: 287px;
        margin: 0px;
      }
      @include for-desktop-HD {
        max-width: 387px;
      }
    }
  }
}
@import "./base.scss";
